/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2018, 10:41:57 AM
    Author     : Muhammad Ali
*/

body {
      font: 18px Montserrat, sans-serif;
      line-height: 1.6;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 40px;}
  
  .bg-1 { 
      background-color: #1abc9c; /* Green  #1abc9c; */
      color: #ffffff;
  }
  p{
      font-family: courier;
      alignment-adjust: middle;
      
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue  #474e5d; */
      color: #ffffff;
  }
  p{
      font-family: courier;
      align-content: center;
      
  }
  .bg-3 { 
      background-color: #ffffff; /* White  #ffffff; */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray  #2f2f2f; */
      color: #fff;
  }
  .container-fluid {
      padding-top: 60px;
      padding-bottom: 60px;
  }
  .navbar {
      padding-top: 8px;
      padding-bottom: 8px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 2px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .table {
      width:auto;
      align-content: flex-end;
      font-family: courier;
  }